body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #ecf1f4;
}

* {
  margin: 0;
  padding: 0;
}

form {
  width: 320px;
  background: #3e3d3d;
  padding: 20px 20px 0px 20px;
  box-sizing: border-box;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
}

h1 {
  text-align: center;
  color: #fff;
  font-weight: normal;
  margin-bottom: 20px;
}

input {
  color: #fff;
  width: 100%;
  background: none;
  border: 1px solid black;
  border-radius: 3px;
  padding: 6px 20px;
  box-sizing: border-box;
  margin-bottom: 20px;
}

#save-btn {
  background-color: #4caf50;
}

#status-btn {
  background-color: #4caf50;
  border-radius: 50%;
  height: 5px;
  width: 5px;
  margin-bottom: 10px;
  margin-left: 70px;
}

select {
  width: 100%;
  background: none;
  border: 1px solid black;
  border-radius: 3px;
  padding: 6px 20px;
  box-sizing: border-box;
  margin-bottom: 20px;
  color: #fff;
}

option {
  background: #3e3d3d;
}
